.todo-item-wrapper {
    list-style-type: none;
}

.todo-item {
    padding: 10px;
    width: 400px;
    background-color: #eeeeee;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item-title {
    display: inline-block;
}
